# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml

# Backups folder
/ICM-42688-P/production/backups/
/Dock PCB/production/backups/

# Lock
*.lck

# Stuff that isnt mine
/3D Models/USB_type_C_smd_24p.stp
/ICM-42688-P/HRO TYPE-C-31-M-14.stp

# Stuff too big to share
/Tracker/Photos/Processed
/Dock/Photos/Processed/Processing.psd